a[href^="mailto"]::before {
    content: "📧 ";
}
div.wrapperhelp {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #b1102b;
    padding: 50px;
    margin: 20px;
  }
#content_box {
  margin: auto;
  width: 60%;
}
#display_box {
  margin: auto;
  width: 200px;
  text-align:center;
  display:inline-block;
}
#display_box label{
	display:inline-block;
}
#display_box input{
	display:inline-block;
}
#clock {
  margin: auto;
  width: 50%;
 text-align:center;
}
